.trade-view {
  background: #1b262d;
  color: #c4c7c9;
  margin: 20px 5px;
  min-width: 500px;
  min-height: 520px;
}

.trade-view > table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

.trade-view tbody > tr:hover {
  background: #232e35;
}

.trade-view th {
  text-transform: uppercase;
  color: #888;
}
.trade-view th,
.trade-view td {
  padding: 2px 5px;
  text-align: right;
}
