.precision-view {
  color: white;
  margin-left: 20px;
}

.precision-view > i {
  font-size: 14px;
  margin-left: 5px;
  margin-right: 5px;
}

.precision-view > i:hover {
  color: cornflowerblue;
}
