.app {
  position: absolute;
  height: 100%;
  width: 100%;
}

.app-header {
  position: absolute;
  height: 30px;
  width: 100%;
  top: 0;
}
.app-content {
  position: absolute;
  top: 30px;
  bottom: 0;
  widows: 100%;
}
